<div class="card" @ondblclick="OnClick">
    <h3>
        @Title
    </h3>
    <p>
        @Description
    </p>
    @if (PublicationDate != null)
    {
        if (ItemAge.TotalSeconds < 60)
        {
            <p>
                Posted less than a minute ago.
            </p>
        }
        else if (ItemAge.TotalMinutes < 60)
        {
            <p>
                Posted @Math.Floor(ItemAge.TotalMinutes) minutes ago.
            </p>
        }
        else if (ItemAge.TotalHours < 2)
        {
            <p>
                Posted @Math.Floor(ItemAge.TotalHours) hour ago.
            </p>
        }
        else if (ItemAge.TotalHours < 24)
        {
            <p>
                Posted @Math.Floor(ItemAge.TotalHours) hours ago.
            </p>
        }
        else if (ItemAge.TotalHours < 48)
        {
            <p>
                Posted @Math.Floor(ItemAge.TotalDays) day ago.
            </p>
        }
        else
        {
            <p>
                Posted @Math.Floor(ItemAge.TotalDays) days ago.
            </p>
        }
    }
</div>
<br />

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public DateTimeOffset? PublicationDate { get; set; }

    [Parameter]
    public EventCallback<string> NavigateToLink { get; set; }

    public TimeSpan ItemAge { get; set; }

    protected override void OnParametersSet()
    {
        if (PublicationDate != null)
        {
            ItemAge = DateTimeOffset.Now - PublicationDate.Value;
        }

        base.OnParametersSet();
    }

    public async Task OnClick()
    {
        await NavigateToLink.InvokeAsync(Link);
    }
}
